{% extends 'base.html.twig' %}

{% block title %}Bienvenue !{% endblock %}

{% block body %}

<!-- Page Header -->
    <header class="masthead" style="background-image: url('{{ asset('public/img/home-bg.jpg')}}')">
        <div class="overlay"></div>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-md-10 mx-auto">
                    <div class="site-heading">
                        <h1>Blog de développement</h1>
                    </div>
                </div>
            </div>
        </div>
    </header>

<!-- Main Content -->
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-10 mx-auto">
            {% for article in listeArticles %}
            <hr>
                <div class="post-preview">
                    <a href="{{ url('show_article' , {'id_article' : article.id} ) }}">
                        <img src="{{ asset('public/uploadImg/' ~ article.pathImg) }}" class="img-fluid">
                        <h3 class="post-title">
                        {{ article.titre }}
                        </h3>
                        <h5 class="post-subtitle">
                        {{ article.contenu[:150]|raw }} ...
                        </h5>
                    </a>
                    <p class="post-meta">Postée le {{ article.dateCreation|date("d/m/Y") }}{% if article.dateModification != NULL %}, Mise à jour le {{ article.dateModification|date("d/m/Y") }}{% endif %}</p>
                </div>
            {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}
