{% extends 'base.html.twig' %}

{% block title %}Bienvenue !{% endblock %}

{% block body %}

<!-- Page Header -->
    <header class="masthead" style="background-image: url('{{ asset('public/img/home-bg.jpg')}}')">
        <div class="overlay"></div>
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-md-10 mx-auto">
                    <div class="site-heading">
                        <h1>Blog de développement</h1>
                    </div>
                </div>
            </div>
        </div>
    </header>

<!-- Main Content -->
    <div class="container">
        <div class="row">
            {% for article in listeArticles %}
            <div class="col-lg-8">
            <hr>
                <div class="post-preview">
                    <a href="{{ url('show_article' , {'id_article' : article.id} ) }}">
                        <img src="{{ asset('public/uploadImg/' ~ article.pathImg) }}" class="img-fluid">
                        <h3 class="post-title">
                        {{ article.titre }}
                        </h3>
                        <h5 class="post-subtitle">
                        {{ article.contenu[:250]|raw }}... <strong>Lire la suite</strong>
                        </h5>
                    </a>
                    <p class="post-meta">Postée le {{ article.dateCreation|date("d/m/Y") }}{% if article.dateModification != NULL %}, Mise à jour le {{ article.dateModification|date("d/m/Y") }}{% endif %}</p>
                </div>
            </div>
                {% if admin == true %}
                <div class="col-sm-4">
                    <br />
                    <a class="btn btn-primary btn-sm btn-block" href="{{ url('modifier_article' , {'id_article' : article.id} ) }}" role="button"><i class="fas fa-edit"></i> Modifier l'article</a>
                    <button type="button" class="btn btn-danger btn-sm btn-block btnModalSupprimer" data-toggle="modal" data-target="#modalSupprimer" data-url="{{ url('supprimer_article', {'id_article' : article.id}) }}">
                        <i class="fas fa-trash-alt"></i> Supprimer l'article
                    </button>
                </div>
                {% endif %}
            {% endfor %}
        </div>
    </div>

    <!-- Modal de suppression des articles -->
    <div class="modal fade" id="modalSupprimer" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Supprimer un article</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>Voulez-vous supprimer l'article ?</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Annuler</button>
                <a id="btnSupprimer" role="button" class="btn btn-primary btn-sm">Confirmer</a>
            </div>
            </div>
        </div>
    </div>

    <script type="text/javascript">
        $( document ).ready(function() {
            $('.btnModalSupprimer').click(function (){
                var url = $(this).data('url');
                $('#btnSupprimer').attr("href", url);
            })
        });
    </script>
{% endblock %}
